In [9]:

import pandas as pd
import gdown
import numpy as np
import re

In [10]:
df = pd.read_excel('/content/DomainExtract.xlsx')
df1 = pd.read_csv('/content/DomainData_20230616.csv')

In [11]:
df

,Postcode,State,Suburb Name,Bedrooms,Type,Median Price,Avg Days On Market,Clearance Rate,Sold This Year,Population,Average Age,Owner,Renter,Family,Single,Suburb
0,800,Northern Territory,Darwin City,2,House,-,0,-,2,6463,20 to 39,0.24,0.76,0.37,0.63,darwin-city-nt-0800
1,800,Northern Territory,Darwin City,3,House,-,0,-,2,6463,20 to 39,0.24,0.76,0.37,0.63,darwin-city-nt-0800
2,800,Northern Territory,Darwin City,4,House,-,0,-,1,6463,20 to 39,0.24,0.76,0.37,0.63,darwin-city-nt-0800
3,800,Northern Territory,Darwin City,1,Unit,$261k,161,-,62,6463,20 to 39,0.24,0.76,0.37,0.63,darwin-city-nt-0800
4,800,Northern Territory,Darwin City,2,Unit,$415k,213,-,110,6463,20 to 39,0.24,0.76,0.37,0.63,darwin-city-nt-0800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25114,7470,Tasmania,Rosebery,3,House,$161k,50,-,25,719,40 to 59,0.62,0.38,0.42,0.58,rosebery-tas-7470
25115,7470,Tasmania,Rosebery,4,House,-,0,-,1,719,40 to 59,0.62,0.38,0.42,0.58,rosebery-tas-7470
25116,7470,Tasmania,Rosebery,5,House,-,0,-,1,719,40 to 59,0.62,0.38,0.42,0.58,rosebery-tas-7470
25117,7470,Tasmania,Rosebery,2,Unit,-,0,-,6,719,40 to 59,0.62,0.38,0.42,0.58,rosebery-tas-7470
25118,7470,Tasmania,Rosebery,3,Unit,-,0,-,2,719,40 to 59,0.62,0.38,0.42,0.58,rosebery-tas-7470

In [13]:
df1.drop(['Avg Days on Market', 'Clearance Rate', 'Sold This Year', 'POPULATION', 'AVERAGE AGE',
       'OWNER', 'RENTER', 'FAMILY', 'SINGLE'],axis=1, inplace=True)

In [15]:
df = pd.merge(df, df1, left_on=['Suburb','Bedrooms', 'Type', 'Median Price'], right_on= ['SUBURB','Bedrooms', 'Type', 'Median Price'], how='left')

In [18]:
del df['SUBURB']

In [49]:
new_column_names = {col: col.lower().replace(' ', '_') for col in df.columns}
df = df.rename(columns=new_column_names)

In [51]:
df = df.rename(columns={'unnamed:_0' :'primery_index',
                        'auction_clearance (higher_=_more_competition): ' : 'auction_clearance'
                        })

In [52]:
df.columns

Index(['primery_index', 'suburb_name', 'state', 'postcode',
       'search_string_for_domain', 'link_for_domain', 'region',
       'search_string_for_homely', 'link_for_homely'],
      dtype='object')

In [44]:
df.to_excel('/content/suburbs.xlsx',index = False)

In [53]:
len(df.columns)

9

In [41]:
del df['unnamed:_0']

In [33]:
df.to_excel('DomainExtract_20230616.xlsx',index = False)

In [48]:
df = pd.read_excel('/content/suburbs.xlsx')
df.columns

Index(['Unnamed: 0', 'Suburb Name', 'State', 'Postcode',
       'Search string for Domain', 'Link for Domain', 'Region',
       'Search string for Homely', 'Link for Homely'],
      dtype='object')