In [66]:
import os
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import regex as re
import requests
import json
import gdown
import sys
from tqdm import tqdm
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback

# pd.set_option('display.max_rows', None)
# pd.set_option('mode.chained_assignment',None)

* The website had only sugestions to pull data from.
* so we have a sugestion genrator with 3 charecters.
* its total combinations lengeth were 17576

In [ ]:
from itertools import product
from string import ascii_lowercase
keywords = tuple(map(''.join, product(ascii_lowercase, repeat=3)))
print(len(keywords))

17576

## homely concatination extraction

In [ ]:
def get_responce(param):
  headers = {
    'authority': 'api.homely.com.au',
    'accept': 'application/vnd.homely.api.v1+json',
    'accept-language': 'en-US,en',
    # 'cookie': 'FPID=FPID2.3.N%2FEbtITAbMmiXHSpN5dKqwUEGhXZUTd9QALfEHV8ros%3D.1686141859; FPAU=1.3.560087484.1686141858; _fbp=fb.2.1686141926936.1348119019; _ga=GA1.1.2138275943.1686912998; FPLC=uCFc%2BJsc0DG9l3vpG5hv%2B2FiAFSD0pWQDuYfZjyN0vOwAfYd2orzlaVmNuOGy%2B9WUra2aBSVX%2FKlJwSkhdxChnEJbezw1P6u8ce5193ut2zs9Fr21HBRFbgdB%2BZT8g%3D%3D; __cf_bm=1sJS90D7RCmysHXFpTmf8xFz2LRVFZNktF.1VSsuXhI-1687146919-0-AVgBtAHjyNJWB0uerkBvE+PdZ4jLeqUhHyM9HwOsytbqyLy0/ul9JF6+W3SLZvvKug==; _ga_4NDBXXNS0N=GS1.1.1687146917.4.1.1687148033.0.0.0',
    'origin': 'https://www.homely.com.au',
    'referer': 'https://www.homely.com.au/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-request-client': 'Desktop Web',
    'x-request-epoch': '1687148178',
  }

  params = {
    'q': param,
  }

  response = requests.get('https://api.homely.com.au/search/locations', params=params, headers=headers)
  return response

resp = get_responce('par')
if resp.status_code == 200:
  data = resp.json()

In [ ]:
def get_responce(param):
  headers = {
    'authority': 'api.homely.com.au',
    'accept': 'application/vnd.homely.api.v1+json',
    'accept-language': 'en-US,en',
    # 'cookie': 'FPID=FPID2.3.N%2FEbtITAbMmiXHSpN5dKqwUEGhXZUTd9QALfEHV8ros%3D.1686141859; FPAU=1.3.560087484.1686141858; _fbp=fb.2.1686141926936.1348119019; _ga=GA1.1.2138275943.1686912998; FPLC=uCFc%2BJsc0DG9l3vpG5hv%2B2FiAFSD0pWQDuYfZjyN0vOwAfYd2orzlaVmNuOGy%2B9WUra2aBSVX%2FKlJwSkhdxChnEJbezw1P6u8ce5193ut2zs9Fr21HBRFbgdB%2BZT8g%3D%3D; __cf_bm=1sJS90D7RCmysHXFpTmf8xFz2LRVFZNktF.1VSsuXhI-1687146919-0-AVgBtAHjyNJWB0uerkBvE+PdZ4jLeqUhHyM9HwOsytbqyLy0/ul9JF6+W3SLZvvKug==; _ga_4NDBXXNS0N=GS1.1.1687146917.4.1.1687148033.0.0.0',
    'origin': 'https://www.homely.com.au',
    'referer': 'https://www.homely.com.au/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-site',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
    'x-request-client': 'Desktop Web',
    'x-request-epoch': '1687148178',
  }

  params = {
    'q': param,
  }

  response = requests.get('https://api.homely.com.au/search/locations', params=params, headers=headers)

  return response

unique_homely_names=set()
pbar = tqdm(total=17576, desc="Processing", unit="entry")

for keyword in keywords:
  pbar.update(1)
  resp = get_responce(keyword)
  if resp.status_code == 200:
    data = resp.json()
    length_of_data = len(data['locations'])
    for i in range(length_of_data):
      unique_homely_names.add(data['locations'][i]['slug'])

Processing: 100%|██████████| 17576/17576 [4:41:00<00:00,  1.09entry/s]

In [ ]:
print(len(unique_homely_names))

7601

In [ ]:
df = pd.DataFrame(unique_homely_names)
df.to_csv('suburbs_homely.csv')

# Domine Header and Request

In [ ]:
headers = {
    'authority': 'www.domain.com.au',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'content-type': 'application/json',
    # 'cookie': 'domain-mixpanel-id_ab0bde70050c3eabaaf8824402fa01e0=$device:188995b514457e-03d062656d4fe5-26031d51-e0985-188995b5145100b; DEVICE_SESSIONID=a023599d-f7d9-46eb-b321-f121e875624e; searchSOI=nsw; bm_sz=E5C3168193AD41FE541960D95436255D~YAAQX+hUuDpcuJaIAQAA3jpJrhTax8oHVn/x4xpTKyn+pZ3tBypaiFN+fhR/FkbUiUtsbtuptrKHlrQVtLONesMfl+u22kTH6Oe8fVzvoXh0i9/cktskT2ksu8Pl/sK2ke2twQKuLm7o72/j1Zlmj/NztVuvVJHbLx2PWFbJJSVaJroFVp94sNdqGqmQI4m79RXMWA2cJHdE/EMHzxxRm3eeZ0wK365YXrDIM1MggRFMgn8svljDLLWJWCpLyPWBw7cbNNfG4viqhJZSnPCtngE5yd2wCks5OL3m4UX0p2YiWKhVvjefSvZJSq/wRTYWAiQwvgnyyp5HNofRq20=~3421252~4473143; bm_mi=D952F10DCA95880574A8BC722F2EB220~YAAQX+hUuCPXuJaIAQAA0bBarhSxMOjumckKnKAlJGqyac9HJv7nNQQY018qrEOD6li5mlKJJdlDNNnQMNimYXRtxDPmKz5LEZvmj16ofM4zzp1LEoVU9F6EYvK6d4Ip0JJi5ZveAW787x1wVwMpepTQdUBDRpiPzNBKDnV0+8dI12TDQIIgIetF7fMeiQoqfEon4lKfpkhnH1TxQtk4qj2a/LWB2L3d4lue7GxH6gjdtlP2fM1aZcux9RSVPu1DVT/kxVCwUYnQ/rqfYsszfYcWGD+MbOI6nSKiHeuMXKb70P8IDPt9MNraiAvYW9bte2h28jNHksjvzb1xXKvr~1; ak_bmsc=1DE2C239D9A96F1142226B5FA5500183~000000000000000000000000000000~YAAQX+hUuBnYuJaIAQAAcNxarhTQh3sbnvdeNNlrfoGWlFkM3eHfk14mHOm1PZyIU0gmYFxPO9/qdHza1NrXcHuNpWrNwVvbg1dISowLTtF7HsRvUEX7jU+wau+gQjX6thKlHYUF3K50ITyCdJE8dscqRM5NoYZj7uO0M/LIZpD6beritGyU896dEKD/2dPy/o7CGykFe56byEq8XJv3tFoJyQb1fIW8twUkzznRLOKajOXSd/klW/N6rLuvXGJjoFFfWEvBgi4VI4eMtUuGMiQZRQohNzTQ8RbVyI6r+VvPpSIlTqirB6rVBlk2MpvrWdIG6luUwoGnR2ddw6TIAvxcRK2tt3aNdHT84ggGEOn6A+UM+KndYFpWCTHs20VPTUkN2e44Zx5xqTS3zSGMbqvfWarNWtaOtm40CUxLtNdfXgqWJCEytUPJPM0/; bm_sv=A248E62E876DC5FACA1C1B94D0727478~YAAQX+hUuIa9uZaIAQAARvZ7rhQmRelJL4ghZ5opdMFxpF0zmhQLqwSZ2hKhHDu+nS4kBVQLt+JtTF4BO2IMCRWdw76Zsbhp6siOtsux3Rx/s71QUW1TztDbZE/4UyxlV02YXRDKxI2QwV8vQOa9FdGp43thdH3hsqngJNLgI4qBF7/whqCTKRIM23c7wzHh6FMDDWanOVq+Olkac3fGqtE0bH3uK9OxwL5iw7WT6qIbRb9vtC1odx86FasDcBAT5Inf8w==~1; _abck=1DD95BDDF3FCA5D055B5FB003FEBDFF4~0~YAAQX+hUuGW+uZaIAQAAPv97rgokC/jffin+CGwE6ip6uInGb+3nw3Eibix6Nd7g4m/9XzeDvpAJRj3jl30Hp2K6KBS9nLDQrwOx0+O1uxtdrvEu0LRI+e/paHjKnl/Rtmqh2JpWCqTtljFKgjFFr7mVhgDxcSwvuIJZ6YsSOZ05ofNiw9yfkHF0JcAIYYUSNTqgD/GG/RKkcW7xrE1LAxJutk06NJNXOo0WfGpnI+c3Kx6P5YU7nBvve+hi7aeCAwBJY5TSOypVZtDAdCrbUmbzYQjeJcL/DAr6VEGFeL8DOee3iIhi/X7wGnk/gl9cJsOrEQfx54sYX5JlPBMef7GBkKsS/xTbR5HAXHi+hj/OdKa+cwfslumdx7yqTtYKdtqb6jtWQWqQBtQE~-1~-1~1686552014',
    'origin': 'https://www.domain.com.au',
    'referer': 'https://www.domain.com.au/suburb-profile/',
    'sec-ch-ua': '"Not.A/Brand";v="8", "Chromium";v="114", "Brave";v="114"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'sec-gpc': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36',
}

In [ ]:
# def extract_first_name(name):
#     # Remove special characters using regex
#     cleaned_name = re.sub('[^a-zA-Z ]', '', name)
#     # Extract the first name
#     first_name = cleaned_name.split()[0]
#     return first_name

# def extract_first_names(names):
#     # Split the names by comma
#     name_list = names.split(',')
#     # Extract the first name from each name
#     first_names = [extract_first_name(name) for name in name_list]
#     return first_names

In [ ]:
unique_names = set()
for sub_urb in keywords:

  try:
    json_data = {
        'variables': {
            'input': sub_urb[0],
            'maxResults': 2000,
            'locationTypes': [
                'SUBURB',
            ],
        },
        'query': '\n        query SuggestLocations(\n          $input: String!\n          $locationTypes: [LocationSuggestionType!]\n          $maxResults: Int\n        ) {\n          suggestLocations(\n            prefixText: $input,\n            locationTypes: $locationTypes,\n            maxResults: $maxResults,\n            exactMatchesToTop: true) {\n            __typename\n            ... on SuburbSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on AreaSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on RegionSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n            ... on SchoolSuggestion {\n              label: displayName\n              value: nameSlug\n            }\n          }\n         }\n       ',
    }

    response = requests.post('https://www.domain.com.au/graphql', headers=headers, json=json_data)

    if response.status_code == 200:
        data = response.json()
        length_of_data= len(data['data']['suggestLocations'])
        for i in range(length_of_data):
          value = data['data']['suggestLocations'][i]['value']
          unique_names.add(value)
  except:
    None

* trying to collect the sugestions we have collected 15879 suburbs instard of 15303

In [ ]:
print(len(unique_names))

15879

In [ ]:
df = pd.DataFrame(unique_names)
df.to_csv('urls.csv')

# merging the collected data.

In [ ]:
gdown.download_folder(id = '1oQWSvfpqa2ml8g2kduZIuxsJhVDOF5Ou')

Retrieving folder list

Processing file 1cTuR4OsevtfFwHMlGqFfoWjGSR7IiJnP Temp_Domain_Extract_120230628.csv
Processing file 1AusP0MFBV-V6OiQ1lU3xWcvaSTJhxmVZ Temp_Domain_Extract_220230628.csv
Processing file 1Q-aFkTTzUbJiCONSM3lPwpb1-sdHdwib Temp_Domain_Extract_320230628.csv
Processing file 1YnYZ8cC6kjI6YaWmJsvlEVI5auTHJ6id Temp_Domain_Extract_420230628.csv
Processing file 1eDWMdCoDyeuGmilou8LEAFcPOTWr_ixq Temp_Domain_Extract_520230628.csv
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=1cTuR4OsevtfFwHMlGqFfoWjGSR7IiJnP
To: /content/Domain extract/Temp_Domain_Extract_120230628.csv
100%|██████████| 211k/211k [00:00<00:00, 64.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1AusP0MFBV-V6OiQ1lU3xWcvaSTJhxmVZ
To: /content/Domain extract/Temp_Domain_Extract_220230628.csv
100%|██████████| 210k/210k [00:00<00:00, 61.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Q-aFkTTzUbJiCONSM3lPwpb1-sdHdwib
To: /content/Domain extract/Temp_Domain_Extract_320230628.csv
100%|██████████| 197k/197k [00:00<00:00, 32.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1YnYZ8cC6kjI6YaWmJsvlEVI5auTHJ6id
To: /content/Domain extract/Temp_Domain_Extract_420230628.csv
100%|██████████| 219k/219k [00:00<00:00, 77.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1eDWMdCoDyeuGmilou8LEAFcPOTWr_ixq
To: /content/Domain extract/Temp_Domain_Extract_520230628.csv
100%|██████████| 213k/213k [00:00<00:00, 63.6MB/s]
Download completed

['/content/Domain extract/Temp_Domain_Extract_120230628.csv',
 '/content/Domain extract/Temp_Domain_Extract_220230628.csv',
 '/content/Domain extract/Temp_Domain_Extract_320230628.csv',
 '/content/Domain extract/Temp_Domain_Extract_420230628.csv',
 '/content/Domain extract/Temp_Domain_Extract_520230628.csv']

In [ ]:
df1 = pd.read_csv('/content/Domain extract/Temp_Domain_Extract_120230628.csv')
df2 = pd.read_csv('/content/Domain extract/Temp_Domain_Extract_220230628.csv')
df3 = pd.read_csv('/content/Domain extract/Temp_Domain_Extract_320230628.csv')
df4 = pd.read_csv('/content/Domain extract/Temp_Domain_Extract_420230628.csv')
df5 = pd.read_csv('/content/Domain extract/Temp_Domain_Extract_520230628.csv')

In [ ]:
#suburbdf = pd.DataFrame()
suburbdf = pd.concat([suburbdf,df1],ignore_index =True)
suburbdf = pd.concat([suburbdf,df2],ignore_index =True)
suburbdf = pd.concat([suburbdf,df3],ignore_index =True)
suburbdf = pd.concat([suburbdf,df4],ignore_index =True)
suburbdf = pd.concat([suburbdf,df5],ignore_index =True)
suburbdf

,Bedrooms,Type,Median Price,Avg Days on Market,Clearance Rate,Sold This Year,POPULATION,AVERAGE AGE,OWNER,RENTER,FAMILY,SINGLE,SUBURB,Time_stamp
0,2,House,-,-,-,1,"3,103",20 to 39,63%,37%,48%,52%,trinity-park-qld-4879,2023-06-28 02:12:28.536795+10:00
1,3,House,$570k,54 days,-,18,"3,103",20 to 39,63%,37%,48%,52%,trinity-park-qld-4879,2023-06-28 02:12:28.641722+10:00
2,4,House,$662k,44 days,-,69,"3,103",20 to 39,63%,37%,48%,52%,trinity-park-qld-4879,2023-06-28 02:12:28.749231+10:00
3,5,House,$805k,-,-,11,"3,103",20 to 39,63%,37%,48%,52%,trinity-park-qld-4879,2023-06-28 02:12:28.808722+10:00
4,2,House,$340k,120 days,-,21,"9,701",60+,68%,32%,44%,56%,portland-vic-3305,2023-06-28 02:12:51.900861+10:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30955,4,House,-,-,-,2,121,60+,92%,8%,59%,41%,jalbarragup-wa-6275,2023-06-28 20:33:41.437806+10:00
30956,2,House,-,-,-,2,"8,226",40 to 59,85%,15%,57%,43%,horsley-nsw-2530,2023-06-28 20:35:38.435560+10:00
30957,3,House,$795k,25 days,-,29,"8,226",40 to 59,85%,15%,57%,43%,horsley-nsw-2530,2023-06-28 20:35:38.590746+10:00
30958,4,House,$980k,48 days,-,48,"8,226",40 to 59,85%,15%,57%,43%,horsley-nsw-2530,2023-06-28 20:35:38.706755+10:00
30959,5,House,$1.135m,-,-,10,"8,226",40 to 59,85%,15%,57%,43%,horsley-nsw-2530,2023-06-28 20:35:38.813058+10:00

Remember to upload Data_extracted in gdrive.
and also count the missing data.

In [ ]:
suburbdf.drop_duplicates(inplace = True)

In [ ]:
suburbdf.shape

(30960, 14)

In [22]:
df = suburbdf

In [19]:
len(suburbdf['SUBURB'].unique())

6181

In [21]:
name = 'DomainData.csv'
suburbdf.to_csv(name, index=False)

# checkpoint

In [58]:
df = pd.read_csv('/content/DomainData.csv')

In [59]:
df['Postcode'] = df['SUBURB'].apply(lambda x: x[-4:].title())
df['State'] = df['SUBURB'].apply(lambda x: x.split('-')[-2].title())
df['Suburb Name'] = df['SUBURB'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
df['Postcode'] = df['Postcode'].apply(lambda x: str(x).zfill(4))

In [60]:
state_names = {
    'Tas': 'Tasmania',
    'Nsw': 'New South Wales',
    'Qld': 'Queensland',
    'Nt': 'Northern Territory',
    'Vic': 'Victoria',
    'Sa': 'South Australia',
    'Act': 'Australian Capital Territory',
    'Wa': 'Western Australia'
    }
df['State'] = df['State'].replace(state_names)

In [61]:
new_column_names = {col: col.lower().replace(' ', '_') for col in df.columns}
df = df.rename(columns=new_column_names)

In [62]:
df['avg_days_on_market'] = df['avg_days_on_market'].apply(lambda x: 0 if x == '-' else str(x).replace(' days', ''))

In [63]:
df['median_price_int'] = df['median_price'].apply(lambda x: np.NaN if x == '-' else str(x))
df['median_price_int'] = df['median_price_int'].fillna(0).astype('str')

In [64]:
def convert_to_int(value):

    multiplier = 1
    if value.endswith('k'):
        multiplier = 1000
    elif value.endswith('m'):
        multiplier = 1000000
    value = re.sub('[^\d.]', '', value)
    return int(float(value) * multiplier)

df['median_price_int'] = [convert_to_int(value) for value in df['median_price_int']]

In [67]:
australia_timezone = pytz.timezone('Australia/Sydney')
current_time = datetime.datetime.now(australia_timezone)
filename = 'Domain_Extract_'+ str(current_time.date()).replace('-', '')+'.csv'
df.to_csv(filename,index = False)