In [1]:
import os
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
import regex as re
import requests
import json
import gdown
import sys
from tqdm import tqdm
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback

In [8]:
gdown.download_folder(id = '1XXWZPqwYMOq_Ty5SFFtI8ghYR3M7veIs')

Retrieving folder list

Processing file 1te3_t0xaW5U0yP9yQTeNHPVUd-x_iZ-Y realestateinvestar1.csv
Processing file 1pQg-BgJya0dJqV-PJtVUIbO6jHJ7CRue realestateinvestar2.csv
Processing file 1VtgdqOJF01oJBnvY4_w9s4I_nKU7W0eg realestateinvestar3.csv
Processing file 1Pxhj7aR7eamChzKz-XlV1oaVOxwvtBrf realestateinvestar4.csv
Processing file 1-sG5HT2zd8ONCg_EkyUL08xTkDGeRjYp realestateinvestar5.csv
Building directory structure completed

Retrieving folder list completed
Building directory structure
Downloading...
From: https://drive.google.com/uc?id=1te3_t0xaW5U0yP9yQTeNHPVUd-x_iZ-Y
To: /content/realestateinvestor/realestateinvestar1.csv
100%|██████████| 146k/146k [00:00<00:00, 13.0MB/s]
Downloading...
From: https://drive.google.com/uc?id=1pQg-BgJya0dJqV-PJtVUIbO6jHJ7CRue
To: /content/realestateinvestor/realestateinvestar2.csv
100%|██████████| 145k/145k [00:00<00:00, 11.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1VtgdqOJF01oJBnvY4_w9s4I_nKU7W0eg
To: /content/realestateinvestor/realestateinvestar3.csv
100%|██████████| 147k/147k [00:00<00:00, 12.2MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Pxhj7aR7eamChzKz-XlV1oaVOxwvtBrf
To: /content/realestateinvestor/realestateinvestar4.csv
100%|██████████| 149k/149k [00:00<00:00, 13.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-sG5HT2zd8ONCg_EkyUL08xTkDGeRjYp
To: /content/realestateinvestor/realestateinvestar5.csv
100%|██████████| 151k/151k [00:00<00:00, 12.4MB/s]
Download completed

['/content/realestateinvestor/realestateinvestar1.csv',
 '/content/realestateinvestor/realestateinvestar2.csv',
 '/content/realestateinvestor/realestateinvestar3.csv',
 '/content/realestateinvestor/realestateinvestar4.csv',
 '/content/realestateinvestor/realestateinvestar5.csv']

In [9]:
df1 = pd.read_csv('/content/realestateinvestor/realestateinvestar1.csv')
df2 = pd.read_csv('/content/realestateinvestor/realestateinvestar2.csv')
df3 = pd.read_csv('/content/realestateinvestor/realestateinvestar3.csv')
df4 = pd.read_csv('/content/realestateinvestor/realestateinvestar4.csv')
df5 = pd.read_csv('/content/realestateinvestor/realestateinvestar5.csv')

In [ ]:
# suburbdf = pd.read_csv('/content/realestateinvestment.csv')

In [10]:
# suburbdf = pd.DataFrame()
suburbdf = pd.concat([suburbdf,df1],ignore_index =True)
suburbdf = pd.concat([suburbdf,df2],ignore_index =True)
suburbdf = pd.concat([suburbdf,df3],ignore_index =True)
suburbdf = pd.concat([suburbdf,df4],ignore_index =True)
suburbdf = pd.concat([suburbdf,df5],ignore_index =True)
suburbdf

,string_from_domain,string_from_realestateinvestor,Current vacancy rate,Rental stock available,Population,Rental population,Median listing price_House,Median listing price_Townhouses,Median listing price_Units,Median price change - last quarter_House,...,Median rent change - 1 year_Townhouses,Median rent change - 1 year_Units,Previous month sales_House,Previous month sales_Units,Stock on market previous month_House,Stock on market previous month_Units,Stock variance vs. last year_House,Stock variance vs. last year_Units,Average days on market_House,Average days on market_Units
0,north-wahroonga-nsw-2076,"Investment Property North Wahroonga, NSW, 2076",0.56%,4,"1,995",6.58%,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,0.0,8.0,0.0,33.33%,0.00%,NaN,NaN
1,milbrodale-nsw-2330,"Investment Property Milbrodale, NSW, 2330",NaN,0,112,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,-100.00%,0.00%,NaN,NaN
2,myall-creek-nsw-2403,"Investment Property Myall Creek, NSW, 2403",NaN,0,34,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fifield-nsw-2875,"Investment Property Fifield, NSW, 2875",NaN,0,128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pejar-nsw-2583,"Investment Property Pejar, NSW, 2583",NaN,0,48,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15057,bindi-vic-3896,"Investment Property Bindi, VIC, 3896",NaN,0,56,13.64%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.00%,0.00%,NaN,NaN
15058,mongarlowe-nsw-2622,"Investment Property Mongarlowe, NSW, 2622",NaN,0,118,3.75%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,100.00%,0.00%,NaN,NaN
15059,teal-point-vic-3579,"Investment Property Teal Point, VIC, 3579",NaN,0,67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15060,macdonalds-creek-nsw-2339,"Investment Property Macdonalds Creek, NSW, 2339",NaN,0,12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15061,branch-creek-qld-4625,"Investment Property Branch Creek, QLD, 4625",NaN,0,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
name = 'realestateinvestment.csv'
suburbdf.to_csv(name, index=False)

In [12]:
df = suburbdf

In [157]:
# df = pd.read_csv('/content/realestateinvestment.csv')

In [158]:
df['string_from_realestateinvestor'] = df['string_from_realestateinvestor'].apply(lambda x: str(x).strip('Investment Property'))

In [159]:
new_column_names = {col: col.lower().replace(' ', '_') for col in df.columns}
df = df.rename(columns = new_column_names)
df

,string_from_domain,string_from_realestateinvestor,current_vacancy_rate,rental_stock_available,population,rental_population,median_listing_price_house,median_listing_price_townhouses,median_listing_price_units,median_price_change_-_last_quarter_house,...,median_rent_change_-_1_year_townhouses,median_rent_change_-_1_year_units,previous_month_sales_house,previous_month_sales_units,stock_on_market_previous_month_house,stock_on_market_previous_month_units,stock_variance_vs._last_year_house,stock_variance_vs._last_year_units,average_days_on_market_house,average_days_on_market_units
0,north-wahroonga-nsw-2076,"North Wahroonga, NSW, 2076",0.56%,4,"1,995",6.58%,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,0.0,8.0,0.0,33.33%,0.00%,NaN,NaN
1,milbrodale-nsw-2330,"Milbrodale, NSW, 2330",NaN,0,112,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,-100.00%,0.00%,NaN,NaN
2,myall-creek-nsw-2403,"Myall Creek, NSW, 2403",NaN,0,34,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fifield-nsw-2875,"Fifield, NSW, 2875",NaN,0,128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pejar-nsw-2583,"jar, NSW, 2583",NaN,0,48,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15057,bindi-vic-3896,"Bindi, VIC, 3896",NaN,0,56,13.64%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.00%,0.00%,NaN,NaN
15058,mongarlowe-nsw-2622,"Mongarlowe, NSW, 2622",NaN,0,118,3.75%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,100.00%,0.00%,NaN,NaN
15059,teal-point-vic-3579,"Teal Point, VIC, 3579",NaN,0,67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15060,macdonalds-creek-nsw-2339,"Macdonalds Creek, NSW, 2339",NaN,0,12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15061,branch-creek-qld-4625,"Branch Creek, QLD, 4625",NaN,0,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
df['string_from_realestateinvestor'] = df['string_from_realestateinvestor'].apply(lambda x: '-'.join(str(x).split(',')).lower())
df['string_from_realestateinvestor'] = df['string_from_realestateinvestor'].str.replace(' ', '-')
df['string_from_realestateinvestor'] = df['string_from_realestateinvestor'].str.replace('--', '-')

In [161]:
df.columns

Index(['string_from_domain', 'string_from_realestateinvestor',
       'current_vacancy_rate', 'rental_stock_available', 'population',
       'rental_population', 'median_listing_price_house',
       'median_listing_price_townhouses', 'median_listing_price_units',
       'median_price_change_-_last_quarter_house',
       'median_price_change_-_last_quarter_townhouses',
       'median_price_change_-_last_quarter_units',
       'median_price_change_-_1_year_house',
       'median_price_change_-_1_year_townhouses',
       'median_price_change_-_1_year_units',
       'median_price_change_-_2_years_house',
       'median_price_change_-_2_years_townhouses',
       'median_price_change_-_2_years_units', 'median_weekly_rent_house',
       'median_weekly_rent_townhouses', 'median_weekly_rent_units',
       'median_yield_%_house', 'median_yield_%_townhouses',
       'median_yield_%_units', 'median_rent_change_-_1_year_house',
       'median_rent_change_-_1_year_townhouses',
       'median_rent_change_-_1_year_units', 'previous_month_sales_house',
       'previous_month_sales_units', 'stock_on_market_previous_month_house',
       'stock_on_market_previous_month_units',
       'stock_variance_vs._last_year_house',
       'stock_variance_vs._last_year_units', 'average_days_on_market_house',
       'average_days_on_market_units'],
      dtype='object')

In [162]:
df = df.drop_duplicates(subset=df.iloc[:,1:])
df.reset_index(drop=True, inplace = True)

In [163]:
df

,string_from_domain,string_from_realestateinvestor,current_vacancy_rate,rental_stock_available,population,rental_population,median_listing_price_house,median_listing_price_townhouses,median_listing_price_units,median_price_change_-_last_quarter_house,...,median_rent_change_-_1_year_townhouses,median_rent_change_-_1_year_units,previous_month_sales_house,previous_month_sales_units,stock_on_market_previous_month_house,stock_on_market_previous_month_units,stock_variance_vs._last_year_house,stock_variance_vs._last_year_units,average_days_on_market_house,average_days_on_market_units
0,north-wahroonga-nsw-2076,north-wahroonga-nsw-2076,0.56%,4,"1,995",6.58%,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,0.0,8.0,0.0,33.33%,0.00%,NaN,NaN
1,milbrodale-nsw-2330,milbrodale-nsw-2330,NaN,0,112,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,-100.00%,0.00%,NaN,NaN
2,myall-creek-nsw-2403,myall-creek-nsw-2403,NaN,0,34,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fifield-nsw-2875,fifield-nsw-2875,NaN,0,128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pejar-nsw-2583,jar-nsw-2583,NaN,0,48,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13771,bindi-vic-3896,bindi-vic-3896,NaN,0,56,13.64%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.00%,0.00%,NaN,NaN
13772,mongarlowe-nsw-2622,mongarlowe-nsw-2622,NaN,0,118,3.75%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,100.00%,0.00%,NaN,NaN
13773,teal-point-vic-3579,teal-point-vic-3579,NaN,0,67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13774,macdonalds-creek-nsw-2339,macdonalds-creek-nsw-2339,NaN,0,12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13775,branch-creek-qld-4625,branch-creek-qld-4625,NaN,0,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [164]:
# gdown.download(id = '1DuT3nnIouLKuRFbGo5lqcQwKTTb5GM8r')
# sdf = pd.read_csv('suburbs.csv')

In [165]:
# merged_table = pd.merge(df, sdf['0'], how='outer', left_on='string_from_realestateinvestor',right_on='0' ,indicator=True)

In [166]:
# merged_table[merged_table['_merge']=='both'].iloc[:,[0,1,-1,-2]]

In [167]:
df

,string_from_domain,string_from_realestateinvestor,current_vacancy_rate,rental_stock_available,population,rental_population,median_listing_price_house,median_listing_price_townhouses,median_listing_price_units,median_price_change_-_last_quarter_house,...,median_rent_change_-_1_year_townhouses,median_rent_change_-_1_year_units,previous_month_sales_house,previous_month_sales_units,stock_on_market_previous_month_house,stock_on_market_previous_month_units,stock_variance_vs._last_year_house,stock_variance_vs._last_year_units,average_days_on_market_house,average_days_on_market_units
0,north-wahroonga-nsw-2076,north-wahroonga-nsw-2076,0.56%,4,"1,995",6.58%,NaN,NaN,NaN,NaN,...,NaN,NaN,6.0,0.0,8.0,0.0,33.33%,0.00%,NaN,NaN
1,milbrodale-nsw-2330,milbrodale-nsw-2330,NaN,0,112,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,-100.00%,0.00%,NaN,NaN
2,myall-creek-nsw-2403,myall-creek-nsw-2403,NaN,0,34,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fifield-nsw-2875,fifield-nsw-2875,NaN,0,128,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pejar-nsw-2583,jar-nsw-2583,NaN,0,48,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13771,bindi-vic-3896,bindi-vic-3896,NaN,0,56,13.64%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.00%,0.00%,NaN,NaN
13772,mongarlowe-nsw-2622,mongarlowe-nsw-2622,NaN,0,118,3.75%,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,1.0,0.0,100.00%,0.00%,NaN,NaN
13773,teal-point-vic-3579,teal-point-vic-3579,NaN,0,67,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13774,macdonalds-creek-nsw-2339,macdonalds-creek-nsw-2339,NaN,0,12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13775,branch-creek-qld-4625,branch-creek-qld-4625,NaN,0,30,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df['postcode'] = df['string_from_realestateinvestor'].apply(lambda x: x[-4:].title())
df['state'] = df['string_from_realestateinvestor'].apply(lambda x: x.split('-')[-2].title())
df['suburb_Name'] = df['string_from_realestateinvestor'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
df['postcode'] = df['postcode'].apply(lambda x: str(x).zfill(4))

<ipython-input-168-a3e8c5e7dbd4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postcode'] = df['string_from_realestateinvestor'].apply(lambda x: x[-4:].title())
<ipython-input-168-a3e8c5e7dbd4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['string_from_realestateinvestor'].apply(lambda x: x.split('-')[-2].title())
<ipython-input-168-a3e8c5e7dbd4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['suburb_Name'] = df['string_from_realestateinvestor'].apply(lambda x: ' '.join(x.split('-')[:-2]).title())
<ipython-input-168-a3e8c5e7dbd4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['postcode'] = df['postcode'].apply(lambda x: str(x).zfill(4))

In [169]:
state_names = {
    'Tas': 'Tasmania',
    'Nsw': 'New South Wales',
    'Qld': 'Queensland',
    'Nt': 'Northern Territory',
    'Vic': 'Victoria',
    'Sa': 'South Australia',
    'Act': 'Australian Capital Territory',
    'Wa': 'Western Australia'
    }
df['state'] = df['state'].replace(state_names)

<ipython-input-169-8df29a150d35>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].replace(state_names)

In [170]:
df['current_vacancy_rate'] = df['current_vacancy_rate'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
df['rental_stock_available'] = df['rental_stock_available'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',','')))
df['population'] = df['population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('+', '')))
df['rental_population'] = df['rental_population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

<ipython-input-170-237d097238cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_vacancy_rate'] = df['current_vacancy_rate'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))
<ipython-input-170-237d097238cb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rental_stock_available'] = df['rental_stock_available'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',','')))
<ipython-input-170-237d097238cb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['population'] = df['population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('+', '')))
<ipython-input-170-237d097238cb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rental_population'] = df['rental_population'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

In [171]:
df['median_listing_price_house'].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('$', '')))

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
13771   NaN
13772   NaN
13773   NaN
13774   NaN
13775   NaN
Name: median_listing_price_house, Length: 13776, dtype: float64

In [172]:
columns_to_clean = ['median_listing_price_house','median_listing_price_townhouses', 'median_listing_price_units','median_weekly_rent_house','median_weekly_rent_townhouses','median_weekly_rent_units']
for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('$', '')))

<ipython-input-172-a7a26ef105cc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace(',', '').replace('$', '')))

In [173]:
columns_to_clean = ['median_price_change_-_last_quarter_house','median_price_change_-_last_quarter_townhouses','median_price_change_-_last_quarter_units','median_price_change_-_1_year_house',
 'median_price_change_-_1_year_townhouses','median_price_change_-_1_year_units','median_price_change_-_2_years_house','median_price_change_-_2_years_townhouses','median_price_change_-_2_years_units',
 	'median_yield_%_house',	'median_yield_%_townhouses','median_yield_%_units','median_rent_change_-_1_year_house','median_rent_change_-_1_year_townhouses','median_rent_change_-_1_year_units',
  'stock_variance_vs._last_year_house','stock_variance_vs._last_year_units']

for column in columns_to_clean:
    df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

<ipython-input-173-04681f39b389>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(lambda x: np.NaN if x == '-' else float(str(x).replace('%','')))

In [174]:
# df.iloc[:,23].unique()
df.iloc[:,31:33]

       stock_variance_vs._last_year_house  stock_variance_vs._last_year_units
0                                   33.33                                 0.0
1                                 -100.00                                 0.0
2                                     NaN                                 NaN
3                                     NaN                                 NaN
4                                     NaN                                 NaN
...                                   ...                                 ...
13771                                0.00                                 0.0
13772                              100.00                                 0.0
13773                                 NaN                                 NaN
13774                                 NaN                                 NaN
13775                                 NaN                                 NaN

[13776 rows x 2 columns]

In [175]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13776 entries, 0 to 13775
Data columns (total 38 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   string_from_domain                             13776 non-null  object
 1   string_from_realestateinvestor                 13776 non-null  object
 2   current_vacancy_rate                           4642 non-null   float64
 3   rental_stock_available                         13776 non-null  float64
 4   population                                     12590 non-null  float64
 5   rental_population                              9546 non-null   float64
 6   median_listing_price_house                     3710 non-null   float64
 7   median_listing_price_townhouses                859 non-null    float64
 8   median_listing_price_units                     1158 non-null   float64
 9   median_price_change_-_last_quarter_house       3639 non-null   float64
 10  median_price_change_-_last_quarter_townhouses  793 non-null    float64
 11  median_price_change_-_last_quarter_units       1090 non-null   float64
 12  median_price_change_-_1_year_house             3581 non-null   float64
 13  median_price_change_-_1_year_townhouses        776 non-null    float64
 14  median_price_change_-_1_year_units             1080 non-null   float64
 15  median_price_change_-_2_years_house            3584 non-null   float64
 16  median_price_change_-_2_years_townhouses       772 non-null    float64
 17  median_price_change_-_2_years_units            1077 non-null   float64
 18  median_weekly_rent_house                       3376 non-null   float64
 19  median_weekly_rent_townhouses                  1368 non-null   float64
 20  median_weekly_rent_units                       1763 non-null   float64
 21  median_yield_%_house                           3081 non-null   float64
 22  median_yield_%_townhouses                      799 non-null    float64
 23  median_yield_%_units                           1108 non-null   float64
 24  median_rent_change_-_1_year_house              3152 non-null   float64
 25  median_rent_change_-_1_year_townhouses         1248 non-null   float64
 26  median_rent_change_-_1_year_units              1632 non-null   float64
 27  previous_month_sales_house                     9612 non-null   float64
 28  previous_month_sales_units                     9612 non-null   float64
 29  stock_on_market_previous_month_house           9612 non-null   float64
 30  stock_on_market_previous_month_units           9612 non-null   float64
 31  stock_variance_vs._last_year_house             9612 non-null   float64
 32  stock_variance_vs._last_year_units             9612 non-null   float64
 33  average_days_on_market_house                   3806 non-null   float64
 34  average_days_on_market_units                   1270 non-null   float64
 35  postcode                                       13776 non-null  object
 36  state                                          13776 non-null  object
 37  suburb_Name                                    13776 non-null  object
dtypes: float64(33), object(5)
memory usage: 4.0+ MB

In [181]:
new_column_names = {col: re.sub(r'\W+', '_', col.lower().replace(' ', '_').replace('___', '_').replace('__', '_')) for col in df.columns}
df = df.rename(columns=new_column_names)
df.columns

Index(['string_from_domain', 'string_from_realestateinvestor',
       'current_vacancy_rate', 'rental_stock_available', 'population',
       'rental_population', 'median_listing_price_house',
       'median_listing_price_townhouses', 'median_listing_price_units',
       'median_price_change_last_quarter_house',
       'median_price_change_last_quarter_townhouses',
       'median_price_change_last_quarter_units',
       'median_price_change_1_year_house',
       'median_price_change_1_year_townhouses',
       'median_price_change_1_year_units', 'median_price_change_2_years_house',
       'median_price_change_2_years_townhouses',
       'median_price_change_2_years_units', 'median_weekly_rent_house',
       'median_weekly_rent_townhouses', 'median_weekly_rent_units',
       'median_yield_house', 'median_yield_townhouses', 'median_yield_units',
       'median_rent_change_1_year_house',
       'median_rent_change_1_year_townhouses',
       'median_rent_change_1_year_units', 'previous_month_sales_house',
       'previous_month_sales_units', 'stock_on_market_previous_month_house',
       'stock_on_market_previous_month_units',
       'stock_variance_vs_last_year_house',
       'stock_variance_vs_last_year_units', 'average_days_on_market_house',
       'average_days_on_market_units', 'postcode', 'state', 'suburb_name'],
      dtype='object')

In [182]:
custom = ['postcode', 'state', 'suburb_name','string_from_domain',
 'string_from_realestateinvestor', 'population', 'rental_population','current_vacancy_rate', 'rental_stock_available',
 'median_listing_price_house','median_listing_price_townhouses', 'median_listing_price_units',
       'median_price_change_last_quarter_house',
       'median_price_change_last_quarter_townhouses',
       'median_price_change_last_quarter_units',
       'median_price_change_1_year_house',
       'median_price_change_1_year_townhouses',
       'median_price_change_1_year_units',
       'median_price_change_2_years_house',
       'median_price_change_2_years_townhouses',
       'median_price_change_2_years_units',
       'median_weekly_rent_house','median_weekly_rent_townhouses', 'median_weekly_rent_units',
       'median_yield_house', 'median_yield_townhouses', 'median_yield_units',
       'median_rent_change_1_year_house',
       'median_rent_change_1_year_townhouses',
       'median_rent_change_1_year_units', 'previous_month_sales_house','previous_month_sales_units',
       'stock_on_market_previous_month_house','stock_on_market_previous_month_units',
       'stock_variance_vs_last_year_house','stock_variance_vs_last_year_units',
       'average_days_on_market_house','average_days_on_market_units']

df = df.reindex(columns = custom)

In [184]:
df = df.sort_values(by=['postcode', 'suburb_name'])
df = df.reset_index(drop=True)
df

,postcode,state,suburb_name,string_from_domain,string_from_realestateinvestor,population,rental_population,current_vacancy_rate,rental_stock_available,median_listing_price_house,...,median_rent_change_1_year_townhouses,median_rent_change_1_year_units,previous_month_sales_house,previous_month_sales_units,stock_on_market_previous_month_house,stock_on_market_previous_month_units,stock_variance_vs_last_year_house,stock_variance_vs_last_year_units,average_days_on_market_house,average_days_on_market_units
0,0800,Northern Territory,Darwin City,darwin-city-nt-0800,darwin-city-nt-0800,6464.0,50.18,1.58,68.0,490000.0,...,NaN,1.85,0.0,32.0,3.0,213.0,-40.00,-4.05,106.0,236.0
1,0810,Northern Territory,Alawa,alawa-nt-0810,alawa-nt-0810,2133.0,27.50,1.25,10.0,505000.0,...,NaN,NaN,4.0,0.0,11.0,6.0,-8.33,-14.29,72.0,161.0
2,0810,Northern Territory,Brinkin,brinkin-nt-0810,brinkin-nt-0810,1274.0,35.00,1.01,4.0,NaN,...,NaN,6.25,1.0,1.0,2.0,8.0,-33.33,33.33,NaN,117.0
3,0810,Northern Territory,Coconut Grove,coconut-grove-nt-0810,coconut-grove-nt-0810,3057.0,45.85,0.32,5.0,NaN,...,NaN,9.52,3.0,4.0,9.0,18.0,-10.00,-10.00,110.0,258.0
4,0810,Northern Territory,Jingili,jingili-nt-0810,jingili-nt-0810,1755.0,21.36,0.59,4.0,589000.0,...,NaN,NaN,3.0,0.0,10.0,0.0,-16.67,0.00,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13771,7468,Tasmania,Strahan,strahan-tas-7468,strahan-tas-7468,705.0,21.88,0.38,2.0,435000.0,...,NaN,NaN,0.0,0.0,11.0,1.0,57.14,100.00,170.0,NaN
13772,7469,Tasmania,Granville Harbour,granville-harbour-tas-7469,granville-harbour-tas-7469,28.0,NaN,NaN,0.0,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,0.00,0.00,NaN,NaN
13773,7469,Tasmania,Renison Bell,renison-bell-tas-7469,renison-bell-tas-7469,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13774,7469,Tasmania,Trial Harbour,trial-harbour-tas-7469,trial-harbour-tas-7469,22.0,NaN,NaN,0.0,NaN,...,NaN,NaN,1.0,0.0,1.0,0.0,100.00,0.00,NaN,NaN
13775,7469,Tasmania,Zeehan,zeehan-tas-7469,zeehan-tas-7469,713.0,24.00,NaN,0.0,230000.0,...,NaN,NaN,0.0,0.0,14.0,1.0,7.69,100.00,107.0,NaN

In [186]:
australia_timezone = pytz.timezone('Australia/Sydney')
current_time = datetime.datetime.now(australia_timezone)
filename = 'Realestateinvestor_Extract_'+ str(current_time.date()).replace('-', '')+'.xlsx'
df.to_excel(filename,index = False)