In [ ]:
import pandas as pd
import gdown
import re
import requests
from bs4 import BeautifulSoup
import json
import pandas as pd
import os
import gc
import time
import pytz
import datetime
import logging
from tqdm import tqdm
import traceback
import numpy as np

In [ ]:
df = pd.read_excel('/content/DomainExtract_20230616.xlsx')

In [ ]:
df['postcode'] = df['postcode'].apply(lambda x: f"0{x}" if len(str(x)) == 3 else str(x))

In [ ]:
df['median_price_int'] = df['median_price'].apply(lambda x: NaN if x == '-' else str(x))
df['median_price_int'] = df['median_price_int'].astype('str')

In [ ]:
def convert_to_int(value):

    multiplier = 1
    if value.endswith('k'):
        multiplier = 1000
    elif value.endswith('m'):
        multiplier = 1000000
    value = re.sub('[^\d.]', '', value)
    return int(float(value) * multiplier)

df['median_price_int'] = [convert_to_int(value) for value in df['median_price_int']]

In [ ]:
df['median_price_int'].unique()

array([     0, 261000, 415000, ..., 103000, 125000, 644000])

In [ ]:
df['rental_median_price'] = df['rental_median_price'].replace('-', np.nan)
df['rental_median_price'] = df['rental_median_price'].str.replace('$', '')
df['rental_median_price'] = pd.to_numeric(df['rental_median_price'], errors='coerce').fillna(0).astype(int)

print(df['rental_median_price'])

0        0
1        0
2        0
3        0
4        0
        ..
25126    0
25127    0
25128    0
25129    0
25130    0
Name: rental_median_price, Length: 25131, dtype: int64

<ipython-input-69-0b28763cbbf4>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rental_median_price'] = df['rental_median_price'].str.replace('$', '')

In [ ]:
df['rental_yield'] = (df['rental_median_price'] * 12 / df['median_price_int']) * 100
df['rental_yield'] = df['rental_yield'].replace([np.inf, -np.inf, np.nan], 0).astype(int).astype(str) + '%'
df['rental_yield'].unique()

array(['0%', '1%', '2%', '3%', '4%', '7%', '6%'], dtype=object)

In [ ]:
custom_order = ['postcode', 'state', 'suburb_name', 'bedrooms', 'type', 'median_price','median_price_int','rental_median_price','rental_yield',
       'avg_days_on_market', 'clearance_rate', 'sold_this_year', 'population',
       'average_age', 'owner', 'renter', 'family', 'single', 'suburb',
       'time_stamp', 'auction_clearance',
       'average_days_on_market', 'median_price_2023', 'growth_rate_2023',
       'no_of_sales_2023', 'median_price_2022', 'growth_rate_2022',
       'no_of_sales_2022', 'median_price_2021', 'growth_rate_2021',
       'no_of_sales_2021', 'median_price_2020', 'growth_rate_2020',
       'no_of_sales_2020', 'median_price_2019', 'growth_rate_2019',
       'no_of_sales_2019']
df = df.reindex(columns=custom_order)

In [ ]:
df.to_excel('DomainExtract_20230616.xlsx',index = False)